<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="login-container">
    <img class="imgs" src="../../../assets/images/undraw_forgot_password_re_hxwm (1).svg" />
    <ion-text class="content">
      <h1>Forgot Password? </h1>
      <ion-text color="medium" > <div class="text">Don't worry! It happens.Please enter the email address associated with your account</div> </ion-text>
    </ion-text>
    <form>
      <ion-item>
        <ion-input type="email" class="custom" class="formControl" placeholder="Email Address" #userEmail required class="input-field"></ion-input>
      </ion-item>

     

      <ion-button expand="block" shape="round" (click)=" authService.ForgotPassword(userEmail.value)">Submit
      </ion-button>
    </form>
  
  </div>
</ion-content>