.img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: 2px solid red
}

.container{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    padding: 5px;
}

.scroll{
    overflow-x: scroll;
     width: 20vw;

}
.container::-webkit-scrollbar {
    display: none;
  }
  
.story-container{
    display: flex;
}

.title{
    text-align: center;
    font-size: small;
    padding: 1px;
}



